/build/
/bin/
/target/
/test-output/
/logs
/utils/*.pyc
src/test/resources/arquillian.xml
SchemaDiff.sql
SyncError.log
/*.xlsx
"02_Label & Messages.xlsx"
#.classpath
#.project
#/.settings/
#/.externalToolBuilders/
#/pom.xml
/src/main/resources/rev.txt