<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div ng-app="MyApp" ng-controller="IRR_ParentController">
		<input type="button" value="Add" ng-click="addNew()">
		<input type="button" value="New" ng-click="editDevice()"> 
	</div>	
	<script src="dependencies/angular/angular.js"></script>
	<script src="lib/ng-polymer-elements.js"></script>
	<script src="dependencies/ngStorage-master/ngStorage.js"></script>
	<script src="dependencies/ui-select/select.min.js"></script>
	<script src="dependencies/smart-table.min.js"></script>
	<script src="app.js"></script>
	<script src="controller/IRR_ParentController.js"></script>
</body>
</html>