<div class="control-group">
    <table st-table="allActionsOfOffice" class="table table-striped">
        <thead>
        <tr>
            <th>Code</th>
            <th>Hospital Contact Name</th>
            <th>Supplier Contact Name</th>
            <th>Department Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in allActionsOfOffice">
            <td>{{row.actionCode}}</td>
            <td>{{row.hospitalContactPersonName}}</td>
            <td>{{row.supplierContactPersonName}}</td>
            <td>{{row.hospitalDepartmentName}}</td>
            <td>
                <a ng-click="setCurrentActionLog(row)" href="#/repairrequest/{{row.actionCode}}">
                <button type="button" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-pencil">
                    </i>
                </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>